version: '3.8'

services:
  # 1. 데이터베이스 서비스 (먼저 실행되어야 함)
  wishpool-db:
    image: mysql:8.0
    container_name: wishpool-db-container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER_PROD}
      MYSQL_PASSWORD: ${DB_PROD_PASSWORD}
    ports:
      - "${DB_PROD_PORT}:3306"
    volumes:
      - wishpool-db-data:/var/lib/mysql
    networks:
      - wishpool-net
    healthcheck:
      test: ["CMD", "mysqladmin" ,"ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 5

  # 2. 애플리케이션 서비스
  wishpool-app:
    image: ${IMAGE_FULL_PATH}
    restart: always
    depends_on:
      wishpool-db:
        condition: service_healthy # DB가 healthy 상태일 때 앱 시작 (healthcheck 설정 시)
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - spring.datasource.url=${DB_URL_PROD}
      - spring.datasource.username=${DB_USER_PROD}
      - spring.datasource.password=${DB_PROD_PASSWORD}
      - spring.security.oauth2.client.registration.kakao.client-id=${OAUTH2_KAKAO}
      - spring.security.oauth2.client.registration.kakao.redirect-uri=${OAUTH2_REDIRECT_URL_PROD}
      - spring.jwt.secret-key=${JWT_SECRET}
      - DISCORD_WEBHOOK=${DISCORD_WEBHOOK}
      # 파일 url, 업로드 경로 추가
      - file_image-url=${IMAGE_URL}
      - file_upload_path=/app/uploads/
    ports:
      - "${HOST_PORT}:8000"
    networks:
      - wishpool-net
    volumes:
      - ${UPLOAD_PATH}:/app/uploads
# 네트워크 정의
networks:
  wishpool-net:
    driver: bridge

# 볼륨 정의
volumes:
  wishpool-db-data: